<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>BitCoin Price Checker</title>
</head>
<body>
    <h1>Welcom to BitCoin Price Checker</h1>

    <form action="/price" method="POST">
        <label for="currency">Enter Currency (INR, USD, EUR):</label>
        <input type="text" name="currency" required>
        <button class="button1" type="submit">Check Price</button>
    </form>
</body>
</html>